[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
invoke = "*"
isort = "*"
pre-commit = "*"

[packages]
asyncache = "*"
cached = "*"
fastapi = "*"
loguru = "*"
motor = "==2.0.0"
gunicorn = "*"
pydantic = "*"
pyyaml = "*"
python-dateutil = "*"
asyncio = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
start = 'uvicorn backend.main:api'
dev = 'uvicorn backend.main:api --reload --log-level=debug'
sort = 'invoke sort'
format = 'invoke black'
